<div style="color:#006666; padding:0px 10px; border-radius:5px; font-size:18px;"><h1 style='margin:10px 5px'>Missing Data</h1>
</div>

Â© Copyright Machine Learning Plus

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>1. Representing Missing Values</h2>
</div>

The usual way of representing missing values in Python is `None`.

However there are multiple ways to represent missing data in NumPy and Pandas. 

NumPy provides `np.nan` for float and objects. 

Pandas provides pd.NA for generalise missing data and pd.NaT (not a time) for missing time data.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.nan

nan

In [ ]:
pd.NA

In [ ]:
pd.NaT

NaT

__Careful when using mising values for comparisons__

In [ ]:
np.nan == np.nan

False

In [ ]:
np.nan in [np.nan]

True

In [ ]:
np.nan is np.nan

True

In [ ]:
pd.NA == pd.NA

__Import Data__

In [ ]:
df = pd.read_csv('Datasets\Titanic.csv').sample(50, random_state=100)
df.to_csv('Datasets\Titanic_orig.csv', index=False)  # store for later ref

In [ ]:
df.reset_index(inplace=True)

__Insert missing values randomly__, so as to be able to compare

In [ ]:
df_copy = df.copy()

In [ ]:
n_missing = 10

for i in range(n_missing):
    row = np.random.randint(1, df.shape[0])
    df.at[row, "Age"] = pd.NA

    
for i in range(n_missing):
    row = np.random.randint(1, df.shape[0])
    df.at[row, "Fare"] = pd.NA
    
for i in range(n_missing):
    row = np.random.randint(1, df.shape[0])
    df.at[row, "Sex"] = pd.NA

In [ ]:
df.head(10)

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S
1,44,45,1,3,"Devaney, Miss. Margaret Delia",female,<NA>,0,0,330958,7.8792,NaN,Q
2,821,822,1,3,"Lulic, Mr. Nikola",male,27,0,0,315098,8.6625,NaN,S
3,458,459,1,2,"Toomey, Miss. Ellen",female,50,0,0,F.C.C. 13531,10.5,NaN,S
4,795,796,0,2,"Otter, Mr. Richard",male,39,0,0,28213,13,NaN,S
5,118,119,0,1,"Baxter, Mr. Quigg Edmond",male,<NA>,0,1,PC 17558,247.521,B58 B60,C
6,424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18,1,1,370129,<NA>,NaN,S
7,678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43,1,6,CA 2144,46.9,NaN,S
8,269,270,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,<NA>,C99,S
9,229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S

In [ ]:
df.to_csv("Datasets/Titanic_missing.csv", index=False)

## Checking and Selecting for Null Values

In [ ]:
df = pd.read_csv("Datasets/Titanic_missing.csv")

In [ ]:
df.isnull().head(10)

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,True,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,True,True,False
7,False,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False,False,True,False,False
9,False,False,False,False,False,False,True,False,False,False,False,True,False

In [ ]:
df.notnull().head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,False,True,True,True,True,False,True
2,True,True,True,True,True,True,True,True,True,True,True,False,True
3,True,True,True,True,True,True,True,True,True,True,True,False,True
4,True,True,True,True,True,True,True,True,True,True,True,False,True

In [ ]:
df['Age'].head()

__Drop rows that contain missing values in `Age`__

In [ ]:
# Drop rows that contain missing values in Age
df[df['Age'].notnull()].head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S
2,821,822,1,3,"Lulic, Mr. Nikola",male,27,0,0,315098,8.6625,NaN,S
3,458,459,1,2,"Toomey, Miss. Ellen",female,50,0,0,F.C.C. 13531,10.5,NaN,S
4,795,796,0,2,"Otter, Mr. Richard",male,39,0,0,28213,13,NaN,S
6,424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18,1,1,370129,<NA>,NaN,S

Drop rows that contain missing values in `Age` or `Fare`

In [ ]:
df[(df['Age'].notnull()) | df['Fare'].notnull()]

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S
1,44,45,1,3,"Devaney, Miss. Margaret Delia",female,<NA>,0,0,330958,7.8792,NaN,Q
2,821,822,1,3,"Lulic, Mr. Nikola",male,27,0,0,315098,8.6625,NaN,S
3,458,459,1,2,"Toomey, Miss. Ellen",female,50,0,0,F.C.C. 13531,10.5,NaN,S
4,795,796,0,2,"Otter, Mr. Richard",male,39,0,0,28213,13,NaN,S
5,118,119,0,1,"Baxter, Mr. Quigg Edmond",male,<NA>,0,1,PC 17558,247.521,B58 B60,C
6,424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18,1,1,370129,<NA>,NaN,S
7,678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43,1,6,CA 2144,46.9,NaN,S
8,269,270,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,<NA>,C99,S
9,229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
10,689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15,0,1,24160,211.338,B5,S
11,320,321,0,3,"Dennis, Mr. Samuel",male,22,0,0,A/5 21172,7.25,NaN,S
12,405,406,0,2,"Gale, Mr. Shadrach",male,34,1,0,28664,21,NaN,S
13,40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,7546,<NA>,NaN,S
14,24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,<NA>,NaN,S
15,553,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",<NA>,22,0,0,2620,<NA>,NaN,C
16,412,413,1,1,"Minahan, Miss. Daisy E",female,33,1,0,19928,90,C78,Q
18,755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5,NaN,S
19,391,392,1,3,"Jansson, Mr. Carl Olof",<NA>,<NA>,0,0,350034,7.7958,NaN,S
20,601,602,0,3,"Slabenoff, Mr. Petco",male,NaN,0,0,349214,7.8958,NaN,S
21,325,326,1,1,"Young, Miss. Marie Grice",female,36,0,0,PC 17760,135.633,C32,C
22,372,373,0,3,"Beavan, Mr. William Thomas",male,19,0,0,323951,8.05,NaN,S
23,376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22,0,0,C 7077,7.25,NaN,S
24,200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,9.5,NaN,S
25,511,512,0,3,"Webber, Mr. James",<NA>,NaN,0,0,SOTON/OQ 3101316,8.05,NaN,S
26,600,601,1,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24,2,1,243847,<NA>,NaN,S
27,630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,<NA>,0,0,27042,30,A23,S
28,363,364,0,3,"Asim, Mr. Adola",male,35,0,0,SOTON/O.Q. 3101310,<NA>,NaN,S
29,143,144,0,3,"Burke, Mr. Jeremiah",<NA>,19,0,0,365222,6.75,NaN,Q
31,133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,228414,26,NaN,S
32,430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,<NA>,0,0,110564,26.55,C52,S
33,418,419,0,2,"Matthews, Mr. William John",male,30,0,0,28228,<NA>,NaN,S
34,781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",<NA>,<NA>,1,0,17474,57,B20,S
35,704,705,0,3,"Hansen, Mr. Henrik Juul",male,26,1,0,350025,7.8542,NaN,S
36,535,536,1,2,"Hart, Miss. Eva Miriam",female,7,0,2,F.C.C. 13529,26.25,NaN,S
37,334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.65,NaN,S
38,272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",<NA>,41,0,1,250644,19.5,NaN,S
39,107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.775,NaN,S
40,402,403,0,3,"Jussila, Miss. Mari Aina",female,21,1,0,4137,9.825,NaN,S
41,306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.883,NaN,C
42,217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42,1,0,243847,27,NaN,S
43,788,789,1,3,"Dean, Master. Bertram Vere",male,<NA>,1,2,C.A. 2315,20.575,NaN,S
44,159,160,0,3,"Sage, Master. Thomas Henry",<NA>,NaN,8,2,CA. 2343,69.55,NaN,S
45,19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.225,NaN,C
46,173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21,0,0,STON/O 2. 3101280,7.925,NaN,S
47,310,311,1,1,"Hays, Miss. Margaret Bechstein",<NA>,24,0,0,11767,83.1583,C54,C
48,594,595,0,2,"Chapman, Mr. John Henry",male,37,1,0,SC/AH 29037,26,NaN,S
49,591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52,1,0,36947,78.2667,D20,C

### Challenge

Count the total number of missing values in `df`

```python
import pandas as pd
import numpy as np

df = pd.read_csv('Datasets\Titanic.csv').sample(50, random_state=100)

n_missing = np.random.randint(4, 15, 1)

for i in range(n_missing):
    row = np.random.randint(1, df.shape[0])
    df.at[row, "Age"] = pd.NA

    
for i in range(n_missing):
    row = np.random.randint(1, df.shape[0])
    df.at[row, "Fare"] = pd.NA
    
for i in range(n_missing):
    row = np.random.randint(1, df.shape[0])
    df.at[row, "Sex"] = pd.NA
```

Code URL: https://git.io/JswTN

In [ ]:
# Solution
import pandas as pd
import numpy as np

df = pd.read_csv('Datasets\Titanic.csv').sample(50, random_state=100)

In [ ]:
n_missing = np.random.randint(4, 15, (1))[0]
print(n_missing)

for i in range(n_missing):
    row = np.random.randint(1, df.shape[0], (1))[0]
    df.at[row, "Age"] = pd.NA

for i in range(n_missing):
    row = np.random.randint(1, df.shape[0], (1))[0]
    df.at[row, "Fare"] = pd.NA
    
for i in range(n_missing):
    row = np.random.randint(1, df.shape[0], (1))[0]
    df.at[row, "Sex"] = pd.NA

11

In [ ]:
df.isna().sum()

PassengerId    24
Survived       24
Pclass         24
Name           24
Sex            24
Age            34
SibSp          24
Parch          24
Ticket         24
Fare           25
Cabin          62
Embarked       24
dtype: int64

In [ ]:
df.isna().sum().sum()

337

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>2. Threshold based Dropping</h2>
</div>

In [ ]:
import pandas as pd
df = pd.read_csv("Datasets/Titanic_missing.csv")

In [ ]:
df.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,G6,S
1,44,45,1,3,"Devaney, Miss. Margaret Delia",female,NaN,0,0,330958,7.8792,NaN,Q
2,821,822,1,3,"Lulic, Mr. Nikola",male,27.0,0,0,315098,8.6625,NaN,S
3,458,459,1,2,"Toomey, Miss. Ellen",female,50.0,0,0,F.C.C. 13531,10.5000,NaN,S
4,795,796,0,2,"Otter, Mr. Richard",male,39.0,0,0,28213,13.0000,NaN,S

`dropna()` drops all rows that contain a missing value by default.

In [ ]:
df.dropna()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,G6,S
10,689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.0,0,1,24160,211.3375,B5,S
16,412,413,1,1,"Minahan, Miss. Daisy E",female,33.0,1,0,19928,90.0000,C78,Q
21,325,326,1,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C
49,591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C

Sometimes you want to drop rows only if at least 'x' missing values are present. You can control that using the `thresh`, which tells how many non-missing values need to be there to retain the row.

In [ ]:
df.dropna(thresh=df.shape[1]-1) # atmost 1 missing value
# df.dropna(thresh=df.shape[1]-2) # atmost 2 missing values

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
2,821,822,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S
3,458,459,1,2,"Toomey, Miss. Ellen",female,50.00,0,0,F.C.C. 13531,10.5000,NaN,S
4,795,796,0,2,"Otter, Mr. Richard",male,39.00,0,0,28213,13.0000,NaN,S
5,118,119,0,1,"Baxter, Mr. Quigg Edmond",male,NaN,0,1,PC 17558,247.5208,B58 B60,C
7,678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.00,1,6,CA 2144,46.9000,NaN,S
8,269,270,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,NaN,C99,S
10,689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
11,320,321,0,3,"Dennis, Mr. Samuel",male,22.00,0,0,A/5 21172,7.2500,NaN,S
12,405,406,0,2,"Gale, Mr. Shadrach",male,34.00,1,0,28664,21.0000,NaN,S
16,412,413,1,1,"Minahan, Miss. Daisy E",female,33.00,1,0,19928,90.0000,C78,Q
18,755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
21,325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C
22,372,373,0,3,"Beavan, Mr. William Thomas",male,19.00,0,0,323951,8.0500,NaN,S
23,376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.00,0,0,C 7077,7.2500,NaN,S
24,200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
27,630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,NaN,0,0,27042,30.0000,A23,S
31,133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
32,430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,NaN,0,0,110564,26.5500,C52,S
35,704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.00,1,0,350025,7.8542,NaN,S
36,535,536,1,2,"Hart, Miss. Eva Miriam",female,7.00,0,2,F.C.C. 13529,26.2500,NaN,S
40,402,403,0,3,"Jussila, Miss. Mari Aina",female,21.00,1,0,4137,9.8250,NaN,S
42,217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
46,173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
47,310,311,1,1,"Hays, Miss. Margaret Bechstein",NaN,24.00,0,0,11767,83.1583,C54,C
48,594,595,0,2,"Chapman, Mr. John Henry",male,37.00,1,0,SC/AH 29037,26.0000,NaN,S
49,591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.00,1,0,36947,78.2667,D20,C

__Alternately, you can drop an entire column if it contains a missing value by setting axis=1 (or 'columns')__

In [ ]:
df.dropna(axis='columns')

### Challenge:

From `df` Drop columns that contains more than 10% missing values.

In [ ]:
import pandas as pd
df = pd.read_csv("Datasets/Titanic_missing.csv")

In [ ]:
# Solution
df.dropna(thresh=df.shape[0]*.9, axis=1)

,index,PassengerId,Survived,Pclass,Name,SibSp,Parch,Ticket,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",0,1,347054,S
1,44,45,1,3,"Devaney, Miss. Margaret Delia",0,0,330958,Q
2,821,822,1,3,"Lulic, Mr. Nikola",0,0,315098,S
3,458,459,1,2,"Toomey, Miss. Ellen",0,0,F.C.C. 13531,S
4,795,796,0,2,"Otter, Mr. Richard",0,0,28213,S
5,118,119,0,1,"Baxter, Mr. Quigg Edmond",0,1,PC 17558,C
6,424,425,0,3,"Rosblom, Mr. Viktor Richard",1,1,370129,S
7,678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",1,6,CA 2144,S
8,269,270,1,1,"Bissette, Miss. Amelia",0,0,PC 17760,S
9,229,230,0,3,"Lefebre, Miss. Mathilde",3,1,4133,S
10,689,690,1,1,"Madill, Miss. Georgette Alexandra",0,1,24160,S
11,320,321,0,3,"Dennis, Mr. Samuel",0,0,A/5 21172,S
12,405,406,0,2,"Gale, Mr. Shadrach",1,0,28664,S
13,40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",1,0,7546,S
14,24,25,0,3,"Palsson, Miss. Torborg Danira",3,1,349909,S
15,553,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",0,0,2620,C
16,412,413,1,1,"Minahan, Miss. Daisy E",1,0,19928,Q
17,512,513,1,1,"McGough, Mr. James Robert",0,0,PC 17473,S
18,755,756,1,2,"Hamalainen, Master. Viljo",1,1,250649,S
19,391,392,1,3,"Jansson, Mr. Carl Olof",0,0,350034,S
20,601,602,0,3,"Slabenoff, Mr. Petco",0,0,349214,S
21,325,326,1,1,"Young, Miss. Marie Grice",0,0,PC 17760,C
22,372,373,0,3,"Beavan, Mr. William Thomas",0,0,323951,S
23,376,377,1,3,"Landergren, Miss. Aurora Adelia",0,0,C 7077,S
24,200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",0,0,345770,S
25,511,512,0,3,"Webber, Mr. James",0,0,SOTON/OQ 3101316,S
26,600,601,1,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",2,1,243847,S
27,630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",0,0,27042,S
28,363,364,0,3,"Asim, Mr. Adola",0,0,SOTON/O.Q. 3101310,S
29,143,144,0,3,"Burke, Mr. Jeremiah",0,0,365222,Q
30,201,202,0,3,"Sage, Mr. Frederick",8,2,CA. 2343,S
31,133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",1,0,228414,S
32,430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",0,0,110564,S
33,418,419,0,2,"Matthews, Mr. William John",0,0,28228,S
34,781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",1,0,17474,S
35,704,705,0,3,"Hansen, Mr. Henrik Juul",1,0,350025,S
36,535,536,1,2,"Hart, Miss. Eva Miriam",0,2,F.C.C. 13529,S
37,334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",1,0,PC 17611,S
38,272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",0,1,250644,S
39,107,108,1,3,"Moss, Mr. Albert Johan",0,0,312991,S
40,402,403,0,3,"Jussila, Miss. Mari Aina",1,0,4137,S
41,306,307,1,1,"Fleming, Miss. Margaret",0,0,17421,C
42,217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",1,0,243847,S
43,788,789,1,3,"Dean, Master. Bertram Vere",1,2,C.A. 2315,S
44,159,160,0,3,"Sage, Master. Thomas Henry",8,2,CA. 2343,S
45,19,20,1,3,"Masselmani, Mrs. Fatima",0,0,2649,C
46,173,174,0,3,"Sivola, Mr. Antti Wilhelm",0,0,STON/O 2. 3101280,S
47,310,311,1,1,"Hays, Miss. Margaret Bechstein",0,0,11767,C
48,594,595,0,2,"Chapman, Mr. John Henry",1,0,SC/AH 29037,S
49,591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",1,0,36947,C

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>3. Approaches to Filling Data</h2>
</div>

Depending on the context you can fill missing data with a standard, meaningful value.

Some common methods are, filling the missing with:
1. __Zero__ (Ex: if the 'Fare' data was missing, it could be possible that the person did not pay anything, in which case replacing with zero makes sense.)

2. __Most Frequent Observation__ : For Categorical data

2. __Mean / Median__ of the entire data / appropriate group

3. __Forward Fill / Backward Fill__ for Sequential Data

4. __Interpolation__ on case basis. Ex: Ordered data

In [ ]:
import pandas as pd
df = pd.read_csv("Datasets/Titanic_missing.csv")

In [ ]:
df

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
1,44,45,1,3,"Devaney, Miss. Margaret Delia",female,NaN,0,0,330958,7.8792,NaN,Q
2,821,822,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S
3,458,459,1,2,"Toomey, Miss. Ellen",female,50.00,0,0,F.C.C. 13531,10.5000,NaN,S
4,795,796,0,2,"Otter, Mr. Richard",male,39.00,0,0,28213,13.0000,NaN,S
5,118,119,0,1,"Baxter, Mr. Quigg Edmond",male,NaN,0,1,PC 17558,247.5208,B58 B60,C
6,424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.00,1,1,370129,NaN,NaN,S
7,678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.00,1,6,CA 2144,46.9000,NaN,S
8,269,270,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,NaN,C99,S
9,229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
10,689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
11,320,321,0,3,"Dennis, Mr. Samuel",male,22.00,0,0,A/5 21172,7.2500,NaN,S
12,405,406,0,2,"Gale, Mr. Shadrach",male,34.00,1,0,28664,21.0000,NaN,S
13,40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,NaN,NaN,S
14,24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,NaN,NaN,S
15,553,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",NaN,22.00,0,0,2620,NaN,NaN,C
16,412,413,1,1,"Minahan, Miss. Daisy E",female,33.00,1,0,19928,90.0000,C78,Q
17,512,513,1,1,"McGough, Mr. James Robert",male,NaN,0,0,PC 17473,NaN,E25,S
18,755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
19,391,392,1,3,"Jansson, Mr. Carl Olof",NaN,NaN,0,0,350034,7.7958,NaN,S
20,601,602,0,3,"Slabenoff, Mr. Petco",male,NaN,0,0,349214,7.8958,NaN,S
21,325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C
22,372,373,0,3,"Beavan, Mr. William Thomas",male,19.00,0,0,323951,8.0500,NaN,S
23,376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.00,0,0,C 7077,7.2500,NaN,S
24,200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
25,511,512,0,3,"Webber, Mr. James",NaN,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S
26,600,601,1,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.00,2,1,243847,NaN,NaN,S
27,630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,NaN,0,0,27042,30.0000,A23,S
28,363,364,0,3,"Asim, Mr. Adola",male,35.00,0,0,SOTON/O.Q. 3101310,NaN,NaN,S
29,143,144,0,3,"Burke, Mr. Jeremiah",NaN,19.00,0,0,365222,6.7500,NaN,Q
30,201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,NaN,NaN,S
31,133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
32,430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,NaN,0,0,110564,26.5500,C52,S
33,418,419,0,2,"Matthews, Mr. William John",male,30.00,0,0,28228,NaN,NaN,S
34,781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",NaN,NaN,1,0,17474,57.0000,B20,S
35,704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.00,1,0,350025,7.8542,NaN,S
36,535,536,1,2,"Hart, Miss. Eva Miriam",female,7.00,0,2,F.C.C. 13529,26.2500,NaN,S
37,334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,NaN,S
38,272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",NaN,41.00,0,1,250644,19.5000,NaN,S
39,107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
40,402,403,0,3,"Jussila, Miss. Mari Aina",female,21.00,1,0,4137,9.8250,NaN,S
41,306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
42,217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
43,788,789,1,3,"Dean, Master. Bertram Vere",male,NaN,1,2,C.A. 2315,20.5750,NaN,S
44,159,160,0,3,"Sage, Master. Thomas Henry",NaN,NaN,8,2,CA. 2343,69.5500,NaN,S
45,19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
46,173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
47,310,311,1,1,"Hays, Miss. Margaret Bechstein",NaN,24.00,0,0,11767,83.1583,C54,C
48,594,595,0,2,"Chapman, Mr. John Henry",male,37.00,1,0,SC/AH 29037,26.0000,NaN,S
49,591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.00,1,0,36947,78.2667,D20,C

__Fill with Zero__

In [ ]:
# Fill all NA with 0
df.fillna(0)

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
1,44,45,1,3,"Devaney, Miss. Margaret Delia",female,0.00,0,0,330958,7.8792,0,Q
2,821,822,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,0,S
3,458,459,1,2,"Toomey, Miss. Ellen",female,50.00,0,0,F.C.C. 13531,10.5000,0,S
4,795,796,0,2,"Otter, Mr. Richard",male,39.00,0,0,28213,13.0000,0,S
5,118,119,0,1,"Baxter, Mr. Quigg Edmond",male,0.00,0,1,PC 17558,247.5208,B58 B60,C
6,424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.00,1,1,370129,0.0000,0,S
7,678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.00,1,6,CA 2144,46.9000,0,S
8,269,270,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,0.0000,C99,S
9,229,230,0,3,"Lefebre, Miss. Mathilde",female,0.00,3,1,4133,25.4667,0,S
10,689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
11,320,321,0,3,"Dennis, Mr. Samuel",male,22.00,0,0,A/5 21172,7.2500,0,S
12,405,406,0,2,"Gale, Mr. Shadrach",male,34.00,1,0,28664,21.0000,0,S
13,40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,0.0000,0,S
14,24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,0.0000,0,S
15,553,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",0,22.00,0,0,2620,0.0000,0,C
16,412,413,1,1,"Minahan, Miss. Daisy E",female,33.00,1,0,19928,90.0000,C78,Q
17,512,513,1,1,"McGough, Mr. James Robert",male,0.00,0,0,PC 17473,0.0000,E25,S
18,755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,0,S
19,391,392,1,3,"Jansson, Mr. Carl Olof",0,0.00,0,0,350034,7.7958,0,S
20,601,602,0,3,"Slabenoff, Mr. Petco",male,0.00,0,0,349214,7.8958,0,S
21,325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C
22,372,373,0,3,"Beavan, Mr. William Thomas",male,19.00,0,0,323951,8.0500,0,S
23,376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.00,0,0,C 7077,7.2500,0,S
24,200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,0,S
25,511,512,0,3,"Webber, Mr. James",0,0.00,0,0,SOTON/OQ 3101316,8.0500,0,S
26,600,601,1,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.00,2,1,243847,0.0000,0,S
27,630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,0.00,0,0,27042,30.0000,A23,S
28,363,364,0,3,"Asim, Mr. Adola",male,35.00,0,0,SOTON/O.Q. 3101310,0.0000,0,S
29,143,144,0,3,"Burke, Mr. Jeremiah",0,19.00,0,0,365222,6.7500,0,Q
30,201,202,0,3,"Sage, Mr. Frederick",male,0.00,8,2,CA. 2343,0.0000,0,S
31,133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,0,S
32,430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,0.00,0,0,110564,26.5500,C52,S
33,418,419,0,2,"Matthews, Mr. William John",male,30.00,0,0,28228,0.0000,0,S
34,781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",0,0.00,1,0,17474,57.0000,B20,S
35,704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.00,1,0,350025,7.8542,0,S
36,535,536,1,2,"Hart, Miss. Eva Miriam",female,7.00,0,2,F.C.C. 13529,26.2500,0,S
37,334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,0.00,1,0,PC 17611,133.6500,0,S
38,272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",0,41.00,0,1,250644,19.5000,0,S
39,107,108,1,3,"Moss, Mr. Albert Johan",male,0.00,0,0,312991,7.7750,0,S
40,402,403,0,3,"Jussila, Miss. Mari Aina",female,21.00,1,0,4137,9.8250,0,S
41,306,307,1,1,"Fleming, Miss. Margaret",female,0.00,0,0,17421,110.8833,0,C
42,217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,0,S
43,788,789,1,3,"Dean, Master. Bertram Vere",male,0.00,1,2,C.A. 2315,20.5750,0,S
44,159,160,0,3,"Sage, Master. Thomas Henry",0,0.00,8,2,CA. 2343,69.5500,0,S
45,19,20,1,3,"Masselmani, Mrs. Fatima",female,0.00,0,0,2649,7.2250,0,C
46,173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,0,S
47,310,311,1,1,"Hays, Miss. Margaret Bechstein",0,24.00,0,0,11767,83.1583,C54,C
48,594,595,0,2,"Chapman, Mr. John Henry",male,37.00,1,0,SC/AH 29037,26.0000,0,S
49,591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.00,1,0,36947,78.2667,D20,C

__Fill with the most frequent value__

It may not be appropriate to fill categorical / string data with 0's. For categorical the common practice it to fill it up with the most frequent value (in the entire dataset or in a given group).

In [ ]:
# Fill with the most frequent value
df.Sex.value_counts()

male      22
female    20
Name: Sex, dtype: int64

In [ ]:
most_frequent = df.Sex.value_counts().index[0]
most_frequent

'male'

In [ ]:
df['Sex'].fillna(most_frequent).head(10)

0    female
1    female
2      male
3    female
4      male
5      male
6      male
7    female
8    female
9    female
Name: Sex, dtype: object

__Fill with a standard string.__

In [ ]:
df['Sex'] = df['Sex'].fillna("Empty")

In [ ]:
df

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
1,44,45,1,3,"Devaney, Miss. Margaret Delia",female,NaN,0,0,330958,7.8792,NaN,Q
2,821,822,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S
3,458,459,1,2,"Toomey, Miss. Ellen",female,50.00,0,0,F.C.C. 13531,10.5000,NaN,S
4,795,796,0,2,"Otter, Mr. Richard",male,39.00,0,0,28213,13.0000,NaN,S
5,118,119,0,1,"Baxter, Mr. Quigg Edmond",male,NaN,0,1,PC 17558,247.5208,B58 B60,C
6,424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.00,1,1,370129,NaN,NaN,S
7,678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.00,1,6,CA 2144,46.9000,NaN,S
8,269,270,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,NaN,C99,S
9,229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
10,689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
11,320,321,0,3,"Dennis, Mr. Samuel",male,22.00,0,0,A/5 21172,7.2500,NaN,S
12,405,406,0,2,"Gale, Mr. Shadrach",male,34.00,1,0,28664,21.0000,NaN,S
13,40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,NaN,NaN,S
14,24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,NaN,NaN,S
15,553,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",Empty,22.00,0,0,2620,NaN,NaN,C
16,412,413,1,1,"Minahan, Miss. Daisy E",female,33.00,1,0,19928,90.0000,C78,Q
17,512,513,1,1,"McGough, Mr. James Robert",male,NaN,0,0,PC 17473,NaN,E25,S
18,755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
19,391,392,1,3,"Jansson, Mr. Carl Olof",Empty,NaN,0,0,350034,7.7958,NaN,S
20,601,602,0,3,"Slabenoff, Mr. Petco",male,NaN,0,0,349214,7.8958,NaN,S
21,325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C
22,372,373,0,3,"Beavan, Mr. William Thomas",male,19.00,0,0,323951,8.0500,NaN,S
23,376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.00,0,0,C 7077,7.2500,NaN,S
24,200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
25,511,512,0,3,"Webber, Mr. James",Empty,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S
26,600,601,1,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.00,2,1,243847,NaN,NaN,S
27,630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,NaN,0,0,27042,30.0000,A23,S
28,363,364,0,3,"Asim, Mr. Adola",male,35.00,0,0,SOTON/O.Q. 3101310,NaN,NaN,S
29,143,144,0,3,"Burke, Mr. Jeremiah",Empty,19.00,0,0,365222,6.7500,NaN,Q
30,201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,NaN,NaN,S
31,133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
32,430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,NaN,0,0,110564,26.5500,C52,S
33,418,419,0,2,"Matthews, Mr. William John",male,30.00,0,0,28228,NaN,NaN,S
34,781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",Empty,NaN,1,0,17474,57.0000,B20,S
35,704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.00,1,0,350025,7.8542,NaN,S
36,535,536,1,2,"Hart, Miss. Eva Miriam",female,7.00,0,2,F.C.C. 13529,26.2500,NaN,S
37,334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,NaN,S
38,272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",Empty,41.00,0,1,250644,19.5000,NaN,S
39,107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
40,402,403,0,3,"Jussila, Miss. Mari Aina",female,21.00,1,0,4137,9.8250,NaN,S
41,306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
42,217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
43,788,789,1,3,"Dean, Master. Bertram Vere",male,NaN,1,2,C.A. 2315,20.5750,NaN,S
44,159,160,0,3,"Sage, Master. Thomas Henry",Empty,NaN,8,2,CA. 2343,69.5500,NaN,S
45,19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
46,173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
47,310,311,1,1,"Hays, Miss. Margaret Bechstein",Empty,24.00,0,0,11767,83.1583,C54,C
48,594,595,0,2,"Chapman, Mr. John Henry",male,37.00,1,0,SC/AH 29037,26.0000,NaN,S
49,591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.00,1,0,36947,78.2667,D20,C

__Fill with the Mean or the Median__

In [ ]:
# Mean value
mean_val = df['Fare'].mean()
df['Fare'].fillna(df['Fare'].mean()).head(10)

0     10.46250
1      7.87920
2      8.66250
3     10.50000
4     13.00000
5    247.52080
6     42.00979
7     46.90000
8     42.00979
9     25.46670
Name: Fare, dtype: float64

__Fill with the Mean or the Median by group__

In [ ]:
# Mean value by group
df['Fare'] = df.groupby('Pclass')['Fare'].apply(lambda x: x.mean())
df.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,205,206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,NaN,G6,S
1,44,45,1,3,"Devaney, Miss. Margaret Delia",female,NaN,0,0,330958,109.454536,NaN,Q
2,821,822,1,3,"Lulic, Mr. Nikola",male,27.0,0,0,315098,20.416667,NaN,S
3,458,459,1,2,"Toomey, Miss. Ellen",female,50.0,0,0,F.C.C. 13531,14.632085,NaN,S
4,795,796,0,2,"Otter, Mr. Richard",male,39.0,0,0,28213,NaN,NaN,S

### Interpolation

Be careful with this technique, you should try to really understand whether or not this is a valid choice for your data. You should also know there are multiple interpolation methods available, the default is a linear method.

In [ ]:
fare = {'first_class':100, 'second_class':np.nan, 'third_class':60, 'open_class':20}

In [ ]:
ser = pd.Series(fare)

In [ ]:
ser

first_class     100.0
second_class      NaN
third_class      60.0
open_class       20.0
dtype: float64

By default, `ser.interpolate()` will do a linear interpolation.

Linear interpolation will take the index (0,1,2..) as the X and the column you want to interpolate as Y and do the interpolation. So, you need to make sure the X is sorted in your data to make this work.

![image.png](attachment:image.png)

Source: Wikipedia

In [ ]:
ser.interpolate()

first_class     100.0
second_class     80.0
third_class      60.0
open_class       20.0
dtype: float64

You could explore other methods as well, such as 'spline'.

In [ ]:
ser.reset_index().interpolate(method='spline', order=2)

What if you have a it as a Dataframe?

Works as well. But take care of the index.

In [ ]:
df = pd.DataFrame(ser,columns=['Fare'])

In [ ]:
df

               Fare
first_class   100.0
second_class    NaN
third_class    60.0
open_class     20.0

In [ ]:
df.interpolate()

               Fare
first_class   100.0
second_class   80.0
third_class    60.0
open_class     20.0

In [ ]:
df = df.reset_index()

In [ ]:
df

          index   Fare
0   first_class  100.0
1  second_class    NaN
2   third_class   60.0
3    open_class   20.0

In [ ]:
df.interpolate(method='spline',order=2)

          index        Fare
0   first_class  100.000000
1  second_class   86.666667
2   third_class   60.000000
3    open_class   20.000000

## Challenge

Fill missing `Fares` in `Titanic_missing.csv` using linear and spline interpolation of order 2. 

```python
import pandas as pd
df = pd.read_csv("Datasets/Titanic_missing.csv")
```

In [ ]:
import pandas as pd
df_orig = pd.read_csv("Datasets/Titanic_orig.csv") 
df = pd.read_csv("Datasets/Titanic_missing.csv")

In [ ]:
df[['Pclass', 'Fare']].to_csv("Datasets/Titanic_2cols.csv", index=False)

In [ ]:
df.loc[:, ['Pclass', 'Fare']].head(20)

    Pclass      Fare
0        3   10.4625
1        3    7.8792
2        3    8.6625
3        2   10.5000
4        2   13.0000
5        1  247.5208
6        3       NaN
7        3   46.9000
8        1       NaN
9        3   25.4667
10       1  211.3375
11       3    7.2500
12       2   21.0000
13       3       NaN
14       3       NaN
15       3       NaN
16       1   90.0000
17       1       NaN
18       2   14.5000
19       3    7.7958

In [ ]:
# Linear
linear = df.loc[:, ['Pclass', 'Fare']].interpolate()
linear.head(10)

   Pclass       Fare
0       3   10.46250
1       3    7.87920
2       3    8.66250
3       2   10.50000
4       2   13.00000
5       1  247.52080
6       3  147.21040
7       3   46.90000
8       1   36.18335
9       3   25.46670

__Compare against the actuals__

There is a significant deviation, because, the values are not sorted per the `Pclass`.

In [ ]:
pd.concat([df_orig.loc[:, ['Pclass', 'Fare']], df.loc[:, ['Pclass', 'Fare']], linear], axis=1)

    Pclass      Fare  Pclass      Fare  Pclass       Fare
0        3   10.4625       3   10.4625       3   10.46250
1        3    7.8792       3    7.8792       3    7.87920
2        3    8.6625       3    8.6625       3    8.66250
3        2   10.5000       2   10.5000       2   10.50000
4        2   13.0000       2   13.0000       2   13.00000
5        1  247.5208       1  247.5208       1  247.52080
6        3   20.2125       3       NaN       3  147.21040
7        3   46.9000       3   46.9000       3   46.90000
8        1  135.6333       1       NaN       1   36.18335
9        3   25.4667       3   25.4667       3   25.46670
10       1  211.3375       1  211.3375       1  211.33750
11       3    7.2500       3    7.2500       3    7.25000
12       2   21.0000       2   21.0000       2   21.00000
13       3    9.4750       3       NaN       3   38.25000
14       3   21.0750       3       NaN       3   55.50000
15       3    7.2250       3       NaN       3   72.75000
16       1   90.0000       1   90.0000       1   90.00000
17       1   26.2875       1       NaN       1   52.25000
18       2   14.5000       2   14.5000       2   14.50000
19       3    7.7958       3    7.7958       3    7.79580
20       3    7.8958       3    7.8958       3    7.89580
21       1  135.6333       1  135.6333       1  135.63330
22       3    8.0500       3    8.0500       3    8.05000
23       3    7.2500       3    7.2500       3    7.25000
24       3    9.5000       3    9.5000       3    9.50000
25       3    8.0500       3    8.0500       3    8.05000
26       2   27.0000       2       NaN       2   19.02500
27       1   30.0000       1   30.0000       1   30.00000
28       3    7.0500       3       NaN       3   18.37500
29       3    6.7500       3    6.7500       3    6.75000
30       3   69.5500       3       NaN       3   16.37500
31       2   26.0000       2   26.0000       2   26.00000
32       1   26.5500       1   26.5500       1   26.55000
33       2   13.0000       2       NaN       2   41.77500
34       1   57.0000       1   57.0000       1   57.00000
35       3    7.8542       3    7.8542       3    7.85420
36       2   26.2500       2   26.2500       2   26.25000
37       1  133.6500       1  133.6500       1  133.65000
38       2   19.5000       2   19.5000       2   19.50000
39       3    7.7750       3    7.7750       3    7.77500
40       3    9.8250       3    9.8250       3    9.82500
41       1  110.8833       1  110.8833       1  110.88330
42       2   27.0000       2   27.0000       2   27.00000
43       3   20.5750       3   20.5750       3   20.57500
44       3   69.5500       3   69.5500       3   69.55000
45       3    7.2250       3    7.2250       3    7.22500
46       3    7.9250       3    7.9250       3    7.92500
47       1   83.1583       1   83.1583       1   83.15830
48       2   26.0000       2   26.0000       2   26.00000
49       1   78.2667       1   78.2667       1   78.26670

__Let's sort data as per `Pclass` and try again__.

In [ ]:
# Linear
linear2 = df.loc[:, ['Pclass', 'Fare']].sort_values('Pclass').interpolate()
linear.head(10)

   Pclass       Fare
0       3   10.46250
1       3    7.87920
2       3    8.66250
3       2   10.50000
4       2   13.00000
5       1  247.52080
6       3  147.21040
7       3   46.90000
8       1   36.18335
9       3   25.46670

In [ ]:
pd.concat([df_orig.loc[:, ['Pclass', 'Fare']], df.loc[:, ['Pclass', 'Fare']], linear, linear2], axis=1)

    Pclass      Fare  Pclass      Fare  Pclass       Fare  Pclass        Fare
0        3   10.4625       3   10.4625       3   10.46250       3   10.462500
1        3    7.8792       3    7.8792       3    7.87920       3    7.879200
2        3    8.6625       3    8.6625       3    8.66250       3    8.662500
3        2   10.5000       2   10.5000       2   10.50000       2   10.500000
4        2   13.0000       2   13.0000       2   13.00000       2   13.000000
5        1  247.5208       1  247.5208       1  247.52080       1  247.520800
6        3   20.2125       3       NaN       3  147.21040       3   27.781250
7        3   46.9000       3   46.9000       3   46.90000       3   46.900000
8        1  135.6333       1       NaN       1   36.18335       1   73.500000
9        3   25.4667       3   25.4667       3   25.46670       3   25.466700
10       1  211.3375       1  211.3375       1  211.33750       1  211.337500
11       3    7.2500       3    7.2500       3    7.25000       3    7.250000
12       2   21.0000       2   21.0000       2   21.00000       2   21.000000
13       3    9.4750       3       NaN       3   38.25000       3    7.386450
14       3   21.0750       3       NaN       3   55.50000       3    7.522900
15       3    7.2250       3       NaN       3   72.75000       3    7.659350
16       1   90.0000       1   90.0000       1   90.00000       1   90.000000
17       1   26.2875       1       NaN       1   52.25000       1   54.704150
18       2   14.5000       2   14.5000       2   14.50000       2   14.500000
19       3    7.7958       3    7.7958       3    7.79580       3    7.795800
20       3    7.8958       3    7.8958       3    7.89580       3    7.895800
21       1  135.6333       1  135.6333       1  135.63330       1  135.633300
22       3    8.0500       3    8.0500       3    8.05000       3    8.050000
23       3    7.2500       3    7.2500       3    7.25000       3    7.250000
24       3    9.5000       3    9.5000       3    9.50000       3    9.500000
25       3    8.0500       3    8.0500       3    8.05000       3    8.050000
26       2   27.0000       2       NaN       2   19.02500       2   24.000000
27       1   30.0000       1   30.0000       1   30.00000       1   30.000000
28       3    7.0500       3       NaN       3   18.37500       3    8.533333
29       3    6.7500       3    6.7500       3    6.75000       3    6.750000
30       3   69.5500       3       NaN       3   16.37500       3    9.016667
31       2   26.0000       2   26.0000       2   26.00000       2   26.000000
32       1   26.5500       1   26.5500       1   26.55000       1   26.550000
33       2   13.0000       2       NaN       2   41.77500       2   21.750000
34       1   57.0000       1   57.0000       1   57.00000       1   57.000000
35       3    7.8542       3    7.8542       3    7.85420       3    7.854200
36       2   26.2500       2   26.2500       2   26.25000       2   26.250000
37       1  133.6500       1  133.6500       1  133.65000       1  133.650000
38       2   19.5000       2   19.5000       2   19.50000       2   19.500000
39       3    7.7750       3    7.7750       3    7.77500       3    7.775000
40       3    9.8250       3    9.8250       3    9.82500       3    9.825000
41       1  110.8833       1  110.8833       1  110.88330       1  110.883300
42       2   27.0000       2   27.0000       2   27.00000       2   27.000000
43       3   20.5750       3   20.5750       3   20.57500       3   20.575000
44       3   69.5500       3   69.5500       3   69.55000       3   69.550000
45       3    7.2250       3    7.2250       3    7.22500       3    7.225000
46       3    7.9250       3    7.9250       3    7.92500       3    7.925000
47       1   83.1583       1   83.1583       1   83.15830       1   83.158300
48       2   26.0000       2   26.0000       2   26.00000       2   26.000000
49       1   78.2667       1   78.2667       1   78.26670       1   78.266700